[2015-07-13 09:48] nibra opened #2 "JApplicationWeb::detectRequestUri() should not rely on array members to exist"
`JApplicationWeb::detectRequestUri()` relies on `$_SERVER['HTTP_HOST']` (and others) to be set.
External data should _always_ be validated or sanitized.

[2015-07-13 09:55] nibra opened #3 "JRouter::setVars() should be split up into two methods"
For better readability of code, the second argument of `JRouter::setVars()` should be omitted.
`JRouter::setVars($arr)` for non-merge mode and `JRouter::addVars($arr)` for merge mode are proper names.

[2015-07-14 12:11] nikosdion opened #5 "Orthogonal system implementation"
Following our conversation with @nibra about the orthogonal system, I have some ideas we need to discuss about the implementation.

The implementation requires us to raise events from the Commands and Models (and possibly the renderer – pending the presentation of a renderer example to fully grasp it). This means that the implementation depends on the MVC being done before we begin. Otherwise I ca

[2015-07-14 16:42] wilsonge commented on #5
For the options object if we don't want to go as far as Registry maybe PHP's ArrayObject would be better? There's still a bit more overhead than native stdClass but implementing ArrayAccess gives you a lot more flexibility

[2015-07-14 16:42] wilsonge commented on #2
Run it through `JInput` I guess. FWIW I think a lot of this code is duplicated by that in `JUri` anyhow (see the methods left in `JUri` at https://github.com/joomla/joomla-cms/blob/staging/libraries/joomla/uri/uri.php#L81) which require pretty much the same server vars

[2015-07-14 17:53] nikosdion commented on #5
In theory using ArrayObject sounds good, in practice I can't see any benefits. Why go through offsetExists and offsetGet when I can simply do `isset($options['something'])` and `$x = $options['something'];`? Not to mention the simple array access is faster and we're talking about hundreds to thousands of events per page.

[2015-07-14 18:20] nibra commented on #5
Yes and no. From the design point of view, the events can as well be defined at the listener side, and get implemented into the MVC, when we get there. This approach may even lead to a better MVC, as it will be designed with specific requirements.

The information about where the event came from, is best provided by the caller itself.

[code]

The event handler will then decide based on the caller

[2015-07-14 18:52] nikosdion commented on #5
The other missing piece for me is the View which is now going to be
replaced. I have not a good idea how that will work so I think I'll let you
define the events for that.

$component = $eventSource->getContainer()->componentName;
$originName = $eventSource->getName();

I didn't have an origin since my handler was non-generic, but I would have
to do it the stupid way lacking another common interfa

[2015-07-14 18:55] wilsonge commented on #2
https://github.com/joomla-framework/application/pull/44 PR to the framework. We just need to do the same thing in the CMS

[2015-07-14 21:32] nibra commented on #5
Yes. That interface (resp. implementing object) could as well carry the event source information, right?

[2015-07-14 21:39] nibra commented on #5
Each `visit<ContentType>` method can raise `onBeforeRender<ContentType>` / `onAfterRender<ContentType>` events. We should find a way to enforce these events for custom renderers, like the `CommandProcessor` does for commands

Events at the start and end of the render process as a whole are possible as well (`onBeforeRender`, `onAfterRender`).

[2015-07-14 21:53] nibra commented on #2
Great! By the way - how do send pull requests from here to the CMS? Do I really have to have 2 upstreams defined in my local repo (one to this repo, one to my CMS fork)?

[2015-07-14 21:58] wilsonge commented on #2
What's here and in the CMS is probably going to diverge pretty quickly - so I'd just have two different repos set up. But yeah I have two different remotes in my repo whilst I'm still merging in the CMS repo

[2015-07-14 22:09] nikosdion commented on #5
Yes. That interface (resp. implementing object) could as well
carry the event source information, right?
Yes, indeed. We may even create an abstract class which
extracts the information from the event source object. So we
could probably have specialised event handlers extend from
this abstract class and implement the event-specific
Interface. I need to think a bit about it though. Something is
nag

[2015-07-14 22:11] nikosdion commented on #5
Each visit<ContentType> method can raise
onBeforeRenderContentType / onAfterRenderContentType events.
We should find a way to enforce these events for custom renderers,
like the CommandProcessor does for commands
Events at the start and end of the render process as a whole are
possible as well (onBeforeRender, onAfterRender).
Ah! So, the event source would be the renderer itself. So the handler
wo

[2015-07-14 22:16] nibra commented on #2
Should we have a 'backport' branch then, for things that can go into 3.x without BC?

[2015-07-14 22:17] nibra commented on #5
Exactly.

[2015-07-14 22:19] nibra commented on #5
Best is interfaces + traits (as in PSR Logger), i think.

[2015-07-14 22:20] wilsonge commented on #2
Can do

[2015-07-14 22:25] nikosdion commented on #5
Best is interfaces + traits, i think.
I agree. Much better approach.

[2015-07-15 08:57] wilsonge opened #7 "Rework the interdependencies that unit tests have on each other"
Cross post issue https://github.com/joomla/joomla-cms/issues/7445

[2015-07-19 21:24] mbabker opened #8 "Remove JSession dependency from JUser::save()"
`JUser::save()` has an internal dependency to `JSession` via `JFactory::getSession()` to reload the cached `JUser` object in the session when the user updates their own profile data.  This forces the user object to have an awareness of the session and because of the internals of `JFactory` will force a session to be created if one is not already (i.e. a command line user management script or the u

[2015-07-19 21:44] nikosdion commented on #8
Plugin. Otherwise every single component going through JUser needs to
duplicate the same snippet of code which creates a whole lot of interesting
issues in the long run.

On Mon, 20 Jul 2015 at 00:24 Michael Babker notifications@github.com
wrote:

[2015-07-19 21:52] mbabker commented on #8
Plugin's definitely preferred, just saying it's gotta move somewhere when all is said and done :smiley:

[2015-08-12 18:09] wilsonge commented on #2
I think we've done this now so closing this issue

[2015-08-12 18:09] #2 closed, assigned to nobody

[2015-10-06 16:06] nikosdion opened #36 "[RFC] Dealing with extension namespaces"
# The problem

All Joomla! 4 extensions (components, plugins, modules, templates, libraries) will be namespaced in Joomla! 4. In Denmark we discussed the namespacing rules. We also implied that all extensions will follow PSR-4 naming conventiosn for their files. However, in order to be complete, we need to
- have a way to get the root namespace for an extension
- tell the PSR-4 autoloader where to

[2015-10-06 16:15] wilsonge commented on #36
This looks awesome. One question. How will libraries work that may contain other namespaced code (e.g. I have a library at work which hooks into google analytics api with my own custom code to run with it?)

[2015-10-06 16:17] mbabker commented on #36
So not totally related to this RFC as written, but something we should consider in some form later is the ability to generate a cached loader with all the lookup paths in place, unless that's going to be too much of a strain on our resources/codebase.

[2015-10-06 16:19] nikosdion commented on #36
@wilsonge Your library in this case would have a class which acts as the entry point to your implementation. At this stage you have to options:
- Use Composer (which is a major PITA in mass distributed code)
- Add a PSR-4 map in the entry point to your library's implementation
  I would choose the latter, having been scalded by the first on several occasions.

[2015-10-06 16:21] nikosdion commented on #36
@mbabker I agree with this. When an extension is added / removed / published / unpublished we could generate a static .php file which can be loaded as soon as the composer's autoloader is up. This has the benefit of being able to replace even core code or Composer dependencies with custom code. The only drawback is that if this file is not writeable, we are screwed. That's why I chose the less eff

[2015-10-06 16:38] mbabker commented on #36
Ya we'd need a good API to account for that, but in an ideal world, it'd be a great add-on to this initial approach.

[2015-10-06 17:29] nibra commented on #36
@nikosdion If the file cannot be written due to odd permissions, it can be handled like the `configuration.php`. The admin gets a warning about that, and the opportunity to repair it manually by either upload that file or regenerate it after permission fix (preferred).

[2015-10-06 17:44] nikosdion commented on #36
@nibra It's more serious than configuration.php being unwriteable. If the configuration.php cannot be written to your site still works. Also, it's feasible to manually edit the file blindly following someone else's instructions (as a several dozens of my clients can tell you). However, if the PSR-4 map file cannot be written to then your site may instantly die, e.g. if the root namespace of a plug

[2015-10-06 21:35] nibra commented on #36
The latter makes more sense, as the first approach would not protect against an outdated file.Actually, I like the approach.

[2015-10-06 21:41] nikosdion commented on #36
They are meant to be complementary. You can have two failure modes: file not present or file outdated. The former is trivial to detect (file_exists). The second one not at all. You have to prevent this from happening, hence not allowing extension install/update/status change under conditions which are known to trigger this failure mode.

The switch is only necessary to provide a mitigation mode fo

[2015-10-06 21:43] nibra commented on #36
Doesn't it make sense then, to be always on the safe side and access the database? Performance could be improved by creating an in-memory view of the extension table subset. (Just thinking loud)

[2015-10-06 21:51] nikosdion commented on #36
No, you didn't get the idea right.

A. Normally, we use the cache file. This is the standard mode for 99% of the cases.
B. If the cache file is not present we access the database.
C. If the configuration.php flag is set we access the database.

B is a safeguard against someone stupidly removing the cache file because, ugh, _people_.
C is a safeguard against an unwriteable cache file or otherwise h

[2015-10-07 01:39] nibra commented on #36
I understand the concept. I'm just not sure, if the performance gain is worth the efford. It is one cacheable database query vs. one filesystem access in the best case.

On the other hand, I guess you have some code ready for that already from your FOF scaffolding, so the efford is maybe not as big as I think.

[2015-10-07 07:42] nikosdion commented on #36
If it was one FS access vs one DB access I wouldn't be discussing it ;) What takes most of the execution time is calculating file paths for each extension (we'll have an average of 150 enabled extensions per site, maybe more considering horizontal components). That's quite a lot of time.

On the other hand, FS access may be entirely unnecessary since PHP 5.5 has opcache enabled by default. Therefo

[2015-10-07 11:50] nibra commented on #36
I see. I fully trust your experience in that area.

[2015-10-11 09:19] wilsonge opened #41 "Unit test failure"
The current single unit test failure in the staging branch will be fixed when https://github.com/joomla/joomla-cms/pull/8062 is tested and merged into this repository

[2015-10-11 15:29] nibra opened #42 "Media Manager"
Sub tasks:
- client-side image resizing
- SVG support
- Use Buddhima code as a starting point
- FlySystem support

[Related issues](https://github.com/joomla/joomla-cms/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+media+manager) in the CMS repository

[2015-10-11 15:30] nibra opened #43 "Content Staging"
This can be implemented using the Versioning feature –by tagging versions as "staged"– and a content plugin which on-the-fly replaces the HTML of an item with the staged version. The content plugin is only enabled when a session variable is set and you have the adequate ACL permissions. So this requires a small module (of a similar concept as the language flags module) with a LIVE / STAGING toggle

[2015-10-11 15:31] nibra opened #44 "Custom Fields"
@todo: Add description.

[2015-10-11 15:32] nibra opened #45 "Namespaces everywhere"
@todo: Add description.

[2015-10-11 15:33] nibra opened #46 "Domain Service Layer + Domain CommandBus"
Sub tasks:
- backfork Tactician.

@todo: Add description.

[2015-10-11 15:34] nibra opened #47 "DI Container"
-  Start the application with a container 8h
-  Deprecate JFactory 8h
-  Backport it to J 3.x 24h
-  Adapt the Unit Tests 40h

There is already the PR #63  for it.

[2015-10-11 15:37] nibra opened #48 "Editor enhancement (Prio: )"
Sub tasks:
- TinyMCE customlink button with our popup
- editor-xtd plugins in TinyMCE toolbar
- drag'n'drop upload

@todo: Add description.

[2015-10-11 15:45] nibra commented on #48
Already done.

[2015-10-11 15:45] #48 closed, assigned to nobody

[2015-10-11 15:49] nibra opened #49 "New search API"
@todo: Add description.

[2015-10-11 15:57] nibra opened #50 "Decouple com_finder"
The following need to be removed from Joomla! and become a separate package in the same way com_weblinks was removed:

[code]

The biggest question regarding time budgeting is how exactly the new package is going to be disseminated. So I'd say 24 man-hours, about 20 of which is going back and forth with the organization until we figure out how to distribute the package.

[2015-10-11 16:39] mbabker commented on #3
Let's add `addVars` in 3.5 so the new API exists and we can deprecate the dual functionality at that point and fully drop it with 4.0.

[2015-10-11 21:38] wilsonge commented on #42
Several PR's have done some work for 3.x already which we should test, merge and port back to this repo before we start work so as not to duplicate work

https://github.com/joomla/joomla-cms/pull/7646
https://github.com/joomla/joomla-cms/pull/7810
https://github.com/joomla/joomla-cms/pull/7435

[2015-10-12 05:45] nibra opened #51 "Front controller"
## Entry Points

The different channels each need their own entry point, since the application stack will be different in some regard.
- [x] Entry point for browsers `index.php`
- [ ] Entry point for web services `api.php`
- [x] Entry point for command line access `joomla.php`
## Router Middleware

Each entrypoint needs its own router, which maps incoming data to commands.
- [x] Web Router, see #5

[2015-10-12 05:46] nibra opened #52 "Front Controller: Command Detection"
All CRUD operations are (will be) covered by the core system. If a component provides business logic, this should go into (business) **Models**. We need a way to identify or declare the **public methods** (and their parameters) to wrap them into **Commands**.

[2015-10-12 05:49] nibra opened #53 "JDoctrine"
Add a JDatabaseDriver connecting to Doctrine

@todo: Add description.

[2015-10-12 05:52] nibra opened #54 "ORM"
## Repositories
- [ ] Evaluate [PINQ](http://elliotswebsite.com/Pinq).
  Based off the .NET's LINQ (Language integrated query), PINQ unifies querying across arrays/iterators and external data sources, in a single readable and concise fluent API. Using this for the Repository implementation would make a lot of things (especially testing) much easier.
## Storage

The storage layer is hidden behind a

[2015-10-12 06:57] nikosdion commented on #43
This can be implemented using the Versioning feature –by tagging versions as "staged"– and a content plugin which on-the-fly replaces the HTML of an item with the staged version. The content plugin is only enabled when a session variable is set and you have the adequate ACL permissions. So this requires a small module (of a similar concept as the language flags module) with a LIVE / STAGING toggle

[2015-10-12 07:06] rdeutz opened #55 "Refactoring JForm"
-  Using JLayout
-  Using Namespaces

@todo: add description

[2015-10-12 07:13] nikosdion commented on #50
The following need to be removed from Joomla! and become a separate package in the same way com_weblinks was removed:

* Smart Search - Tags plugin
* Smart Search - Categories plugin
* Smart Search - Contacts plugin
* Smart Search - Content plugin
* Smart Search - News Feeds plugin
* Smart Search front-end module
* Smart Search component

The biggest question regarding time budgeting is how exactl

[2015-10-12 08:05] nikosdion commented on #47
Time estimate: 1 man-week

[2015-10-12 08:07] nikosdion commented on #45
This is almost done thanks to the work of @wilsonge and @mbabker

According to @wilsonge we need about a man-week to complete this work for all library classes except JForm (which will be refactored anyway with gh-55).

[2015-10-12 08:10] nikosdion commented on #5
This branch is currently on hold since we're going to implement a Service layer. In this case the orthogonal implementation will be dependent on this layer's command bus. For now the only thing that can (and should) be used from this branch is the Event package refactoring and all the related refactors (JPlugin, JEditor, JCaptcha).

[2015-10-12 08:20] mbabker commented on #45
JHtml is another one that's going to be tricky to do until we can remove the `_` method.  We can use the code from the Framework's form package as a starting point to cope with building namespaced classes as it uses a similar dot string notation.

[2015-10-12 09:56] nibra opened #59 "Front Controller: Router"
@todo: Add description.

See [Joomla/Router](https://github.com/joomla-framework/router)

[2015-10-12 09:58] nibra opened #60 "Renderer"
## Channel Dependant Renderers

Each possible output channel might require its own output format. The `Accept:` header is used to determine the requested format. For channels without such a header, like CLI, a fake header is created.

The `Accept:` header contains a MIME type. The MIME types are assigned to Renderers using an editable map.
- [x] MIME Mapping
- [x] JSON Renderer
- [x] XML Renderer

[2015-10-12 10:00] rdeutz commented on #44
- Renaming from com_dpfields to com_fields  8h
- Adding categories for fields  16h
- Using JLayouts for fields  8h

[2015-10-12 10:01] rdeutz commented on #47
* Start the application with a container 	8h
* Deprecate JFactory 	8h
* Backport it to J 3.x 	24h
* Adapt the Unit Tests	40h

[2015-10-12 10:03] rdeutz commented on #55
Using JLayout
Using Namespaces

[2015-10-12 10:05] rdeutz commented on #45
Namespaces  40h
- cms/Jhtml
- cms/Jtable
- cms/helper
- Jform (see JForm Refactoring #55 )

[2015-10-12 10:19] nibra opened #61 "Logger"
Add PSR-3 compatible logging functionality.

[2015-10-12 10:19] wilsonge commented on #45
There are more in the /Joomla folder as well todo. E.g JDocument. However majority of them are framework packages

[2015-10-12 12:51] mbabker opened #62 "Session API usage"
The manner in which the application uses the session should be refactored.  Key issues:
- `JApplicationCms::__construct()` codes a default behavior to use sessions which are manually started in the constructor's context; the `loadSession()` method should be extracted into a service provider and the call to `$session->start()` removed from the application's bootup sequence
- `JApplicationCms::check

[2015-10-14 12:58] dgrammatiko opened #65 "Tide up the JHtml folder"
- Remove deprecated code (mootools etc) or propose for deprecation in 3.5 and removal in 4
- Use JLayouts for the html parts

This is gonna be done with multiple pr on the 3.5 repo and one pr in this one (the last one needs that the 3.5 or 3.6 prs get merged/ accepted)

[2015-10-14 13:28] laoneo opened #66 "Remove FOF 2"
FOF needs to be removed in J4 in favor of the new architecture and to not confuse developers to have multiple ways to build their extensions..

How should FOF being deprecated in Joomla 3? Would it be enough to add a deprecate message in that file https://github.com/joomla/joomla-cms/blob/staging/libraries/fof/include.php as it would be too much effort to add a deprecate message to every single fi

[2015-10-14 13:40] dgrammatiko commented on #66
I think it is already deprecated, just do pr that removes the folder and the composer stuff...

[2015-10-14 13:43] dgrammatiko commented on #66
Also mind https://github.com/joomla/joomla-cms/blob/staging/libraries/cms.php#L42-L46

[2015-10-14 14:42] zero-24 commented on #66
@dgt41 we have core functions that works with fof postinstall & TFA they will stop working also. Fof is also in the com_admin script (cleaning the fof cache)

[2015-10-14 14:50] nikosdion commented on #66
com_postinstall needs to be rewritten – if we're keeping it at all. Most users ignore the messages anyway.

TFA only uses the TOTP library in FOF. You can simply pry it away from FOF and put it in libraries/cms

As for clearing the fof cache, obviously this is no longer an issue if you remove FOF ;)

[2015-10-14 14:55] mbabker commented on #66
Ironically some people do read them.  A lot of questions on the forum after 3.4.0 after the robots.txt and htaccess changes.

[2015-10-14 14:55] zero-24 commented on #66
yes i just what to mention that it is not only remove the `fof` folder.

[2015-10-14 15:01] nikosdion commented on #66
Amazing. So this feature I first tried on my software and ported to Joomla! actually worked on Joomla! far better than it worked on my own software? LOL!

[2015-10-14 18:55] Bakual opened #67 "Remove unused language strings"
Not sure if that is covered already somewhere but there are quite a few language strings which are not used anymore within Joomla 3. Those can be removed with J4.

There is a tool written by @aDaneInSpain which can help to find those unused strings
See https://github.com/Jensen-Technologies/Find-Unused-Joomla-Language-Constants

[2015-10-14 19:05] zero-24 opened #68 "Status of beez3 in Joomla 4?"
Should beez3 removed as well as hathor or stay in joomla 4?

[2015-10-14 19:17] mbabker commented on #68
I don't think either frontend template stays in J4.  The question really should be whether we ship multiple templates or not.

Hathor's already on the dump list since it's essentially been broken since 3.0 released and is actually less accessible (from what I've heard) than Isis is now.

[2015-10-14 19:56] zero-24 commented on #68
So there is currently no decision on that? beez3 is mostly broken as well ;)

[2015-10-14 20:05] mbabker commented on #68
Hathor was pretty much a "just do it" pull request.  I'm not so sure if anyone's discussed front-end templates but at this point I'd assume that Beez3 and Protostar (and even Isis) won't be present in any form once v4 starts taking shape.

[2015-10-14 20:27] zero-24 commented on #68
ok so the J4 team let us know if there is the time to do that pulls ;)

[2015-10-14 20:27] #68 closed, assigned to nobody

[2015-10-15 01:02] wilsonge commented on #66
It's just scaleability dude :P More Joomla Users = More people asking questions :P

[2015-10-15 07:32] nikosdion commented on #68
If half of what we discussed in the sprint is implemented neither Protostar nor Beez3 will make any sense. We'll need a different kind of template.

As for the back-end template I suspect we'll have to refactor it, not start from scratch. It depends on what the UX team comes up with in the following months.

[2015-10-15 09:05] nibra commented on #68
The current templates will have to work using the LegacyRenderer (don't know yet how, but the 'little pain' paradigma demands it).

However, they will surely not be shipped with 4.0.

[2015-10-15 09:22] nikosdion commented on #68
I am mostly worried about how the legacy main content + module positions will translate into the "bento box" paradigm of the page builder. Programmatically it can be mapped by assigning an ad hoc name to the main content area but that will most definitely break the intuitive page builder since what you see is not what you get. Of course this depends on how deep we can go in the first iteration of

[2015-10-20 18:13] #36 closed, assigned to nobody

[2015-10-20 18:13] #5 closed, assigned to nobody

[2015-12-01 09:02] siliconalchemy opened #71 "Core session code contains database r/w even when not using database"
The core session calls in libraries/cms/application/cms.php - loadSession(), checkSession() contains database code.  Session handling shouldn't touch the database per se, only if a db storage provider is used.  If 'none' or memcache/redis etc are used then database shouldn't be touched as it pretty much guarantees deadlocks and clashes, and makes Joomla unuseable on consistent db clusters.

I thin

[2015-12-01 09:35] siliconalchemy commented on #71
Apologies I think I've opened this against the wrong github, will close and reopen in joomla/joomla-cms.

[2015-12-01 09:35] #71 closed, assigned to nobody

[2015-12-03 16:29] nibra opened #72 "Images for use in the wiki"
![base-600x400](https://cloud.githubusercontent.com/assets/827605/11566569/55a580d4-99e3-11e5-9c18-72eabe9f90be.png)

The base image for Joomla 4 related stuff.

[2015-12-03 16:31] nibra commented on #72
[Decision_register.pdf](https://github.com/joomla-projects/joomla-pythagoras/files/51047/Decision_register.pdf)

The Odense decision register

[2015-12-03 16:34] nibra commented on #72
[Joomla4Architecture.pdf](https://github.com/joomla-projects/joomla-pythagoras/files/51050/Joomla4Architecture.pdf)
[Joomla! Extensions Installer TNG.pdf](https://github.com/joomla-projects/joomla-pythagoras/files/51051/Joomla.Extensions.Installer.TNG.pdf)
[plan.xlsx - Sheet1.pdf](https://github.com/joomla-projects/joomla-pythagoras/files/51052/plan.xlsx.-.Sheet1.pdf)
[Thingstotalkabout.pdf](https

[2015-12-03 16:51] #72 closed, assigned to nobody

[2015-12-04 02:54] nibra commented on #72
[08-roland.pdf](https://github.com/joomla-projects/joomla-pythagoras/files/51608/08-roland.pdf)

Slides from JoomlaDay Italy 2015

[2015-12-20 02:17] nibra opened #73 "Test Environment"
## Problem

The **Automated Testing Working Group** decided to use [CodeCeption](http://codeception.com/) for testing. In order to provide consistency, the test environment of the CMS should be moved to CodeCeption.

Although CodeCeption supports PHPUnit tests, and actually uses PHPUnit to execute these tests, the test results are not identical for the two environments, as more tests are failing o

[2015-12-20 11:00] rdeutz commented on #73
I another project I have also separated API Testing with pure phpunit from the codeception part, I think at the end of the day it comes to personal preference.

For now I would agree of to make two directories codeception and phpunit and move test into these, I don't like the unit dir because it is misleading, not all tests in this dir are unit test

[2016-01-08 12:48] nibra commented on #73
# feature/codecept-upstream

Added a new branch, `feature/codecept-upstream`. The branch is based on `upstream`, i.e., current Joomla!3. It may be merged into `staging`, but MUST NOT be deleted.

## Purpose

This branch is intended to collect (acceptance) tests for the Joomla!3 series, which have to be fullfilled by Joomla!4, too. The tests will be cherry-picked into `staging` one by one.

## Upda

[2016-01-08 16:37] javigomez commented on #73
Codeception API tests are very nice, see https://github.com/joomla-projects/webservices/blob/develop/tests/api/administrator.contact.1.0.0.Cest.php. The plan is to have Joomla 3.6 tested with Codeception API tests.

More info http://codeception.com/docs/10-WebServices

Once the API tests will be done for 3.6 in the next monts (we need to wait for the webservices 3.6 team) can be easily ported to 4

[2016-01-08 16:50] nibra commented on #73
So you think it makes sense to backport the branch to `joomla/joomla-cms`?

[2016-01-19 21:50] jochendaum opened #74 "Orthogonal features"
I like the idea of orthogonal features and want to show some use cases, which show the value in them:

Long living Joomla data: Most sites I come in contact with have a long to very long history, spanning from Joomla 1.5 sometimes 1.0. Because of this often users are in there, which are no longer involved, but need to be kept, so that historical data is accurate. Archival of users would be very he

[2016-01-19 21:56] jochendaum opened #75 "Sunset required functional and non-functional requirements on extensions"
From looking around on forums and blogs there seems to be a single thing that everyone sees as a challenge to the Joomla project: velocity of development

I think the following reasons have some part to play in this:
- lack of resource (though there will never be enough)
- NIH syndrome (not invented here syndrome), ie. Joomla framework
- No plan to replace library or architecture from the start
-

[2016-01-19 21:59] jochendaum opened #76 "Adopt much more external libraries, phase out Joomla Framework"
Joomla is trying to maintain and build way too many libraries of its own. I don't think it is realistic and the only frameworks successful in doing this have an apparently working business model to ensure their development can happen.

The Joomla community and Open Source Matters have agreed on values that run clearly contrary to such a business model, so the reality is that efforts to build its o

[2016-01-19 22:04] jochendaum opened #77 "Plan for a way to integrate a library into Joomla core"
I know of one extension that was very popular, but not able to be pursued by its owner to keep up with current Joomla development.

Unfortunately, it was abandoned and a completely new sub set of its functionality was build from scratch for Joomla core functionality.

I think the community would have benefited from this library being integrated into Joomla Core and the current solution is a step b

[2016-01-19 22:19] mbabker commented on #75
IMO it's not Joomla's role to impose any requirements on how extensions are structured.  This enables extensions to implement their own MVC layers as an example instead of using Joomla's core layer to create custom toolsets.  The only timeframe requirements that should be imposed is if any core feature is deprecated, and it would indicate what release the code will be pulled out of.  Telling exten

[2016-01-19 22:26] mbabker commented on #76
To be perfectly frank, Joomla's ecosystem could barely accept third party libraries for core services (maybe third party implementations of PHP's `SessionHandlerInterface` or if Joomla adopts the PSR-6 caching interfaces adapters written for that).  Third party libraries for other aspects of Joomla (for example Doctrine, Symfony's HTTP Foundation as a replacement for Joomla's application and sessi

[2016-01-20 00:00] jochendaum commented on #76
Can you explain what you mean by "too radical" and "could not"?

[2016-01-20 00:02] jochendaum commented on #75
Ok, but thats exactly the point I am making. Is it the core teams position that "build your own" is preferable?

You do remove unsecure extensions from the JCE, as well as Joomla 1.5 extensions and non-GPL extensions.

Not encouraging people to move forward is causing damage as well. I don't really want to quantify it, as it leads to a "good enough" argument

[2016-01-20 00:27] mbabker commented on #76
Look at Joomla's user base and how much of it still uses 1.5 and 2.5.  Last time w3techs had published version information for Joomla, over 50% of the user base still had 1.5 sites in production.  Development all but stopped on that branch toward the end of 2010 as 1.6 was pushed to a stable tag.  We're reaching 5 years since 1.6's release, a release that introduced a lot of major changes.  Extens

[2016-01-20 00:34] mbabker commented on #75
If your argument is that "build your own" is bad, then I want to be as bad as I can be.  There should NEVER be a requirement that components implement the core MVC layer, or whatever over-engineered solution comes out of the J4 group.  Have you not seen platforms such as [redCORE](https://github.com/redCOMPONENT-COM/redCORE) or [FOF](https://github.com/akeeba/fof) or [Nooku](https://github.com/noo

[2016-01-20 01:48] nibra commented on #75
Joomla!4 will use external libraries a lot. Decision is made about the Doctrine DBAL (not the ORM), Same is true for Flysystem abstracting the filesystem. It does absolutely not make sense to maintain such stuff ourselves. So, we're healing the NIH syndrome a lot.

It is intended from the J4WG to _flag_ extensions on the JED, if they don't follow the recommendations. So, when an extension does use

[2016-01-20 01:53] nibra commented on #76
Well, those things were decided on, when Michael still was part of the J4 Architecture Group. Using those libraries may be radical, but it is exactly, what we're doing. That will not prevent us from providing adapters to mimic the current behavior as close as possible, so the transition will be soft.

[2016-01-20 01:56] mbabker commented on #76
And for the record while the developer in me agrees fully with pulling in those libraries and fixing the numerous holes and weaknesses in Joomla's API, I still say it's a bad idea.  Let me save you folks some time, run `symfony new joomla lts` and 90% of J4 is done.  Because that is the direction you are going; either J4 is going to turn into a hybrid Symfony/Laravel creation or the NIH thing is g

[2016-01-20 01:58] nibra commented on #77
The decoupling throughout the system will make it possible to exchange, add or remove functionality easily.

Ideally, you choose during installation, if you want specific functionality, and if so, which implementation best suites you. That's something, we have in mind, and the UX team is already having a look at the feasibility (technically it is feasible, but can we provide a convenient user inte

[2016-04-04 01:47] nibra commented on #74
Because of the orthogonal architecture, extensions will no longer need to implement these features; the features will be provided automatically, as long as the extensions use the new architecture properly.

No action required, closing.

[2016-04-04 01:47] #74 closed, assigned to nobody

[2016-04-04 01:51] nibra commented on #75
No action required, closing.

[2016-04-04 01:51] #75 closed, assigned to nobody

[2016-04-04 01:57] jochendaum commented on #74
Ok, so is Archival an orthogonal feature?

[2016-04-04 01:59] nibra commented on #77
No action required, closing.

[2016-04-04 01:59] #77 closed, assigned to nobody

[2016-04-04 02:03] nibra commented on #74
Yes, because it is a cross concern, i.e., a feature needed by several components.

[2016-04-07 21:12] GABBAR1947 commented on #67
https://github.com/joomla-projects/joomla-pythagoras/pull/80

[2016-04-17 13:06] 4digitalworld opened #82 "Renderer: Bootstrap 4"
Since Joomla 3.5 support PHP 7, i think this is right way for support new technologies.
I'm read, Joomla 4.0 coming soon later this year:
http://magazine.joomla.org/issues/issue-december-2015/item/2911-introducing-joomla-4

just skip Bootstrap 3.x and put Bootstrap 4 support into Joomla 4.x

i think this is no big problem just rename some words in CSS code for compatibility with Bootstrap 4.

to f

[2016-04-17 13:44] HermanPeeren commented on #82
Please reread my comments in #81. This issue is superfluous and might come from not fully understanding the power of seperating content and rendering as envisioned in Joomla 4.

[2016-04-17 13:54] nibra commented on #82
@sanek4life, this time you picked the right place ;)

In addition what was already said on the PR#81: The plans are to provide at least two HTML renderers already in the first release. One to support the Bootstrap version, that is currently used in Joomla 3. This is needed to allow the smooth upgrade, we want to achieve. The other will be a renderer, that supports the Bootstrap version, that is cu

[2016-04-17 14:09] 4digitalworld commented on #82
@HermanPeeren & @nibra thanks!!!

how i'm understand, when i'm install Joomla 4 CMS, i'm just choice right framework for me, like now i can choise right components on JED and easy put in on my site, like "install framework from JED" button.

this is really dope thing. any framework support revolution on Joomla cms.

this is like, i can choose only Gantry 5 framework instead of Bootstrap on my site

[2016-04-17 14:19] HermanPeeren commented on #82
Yep, that is the idea: to more easily use extensions in any UI-framework, preferably by not having to change the extensions at all. Just take another Renderer, that can be used for ALL extensions. Nice example of [Open-Closed Principle](https://en.wikipedia.org/wiki/Open/closed_principle).

[2016-04-17 18:26] Bakual commented on #82
What I don't understand yet about that renderer system. As an extension developer, I don't expect templates developers to provide renderers for my component (as it's not popular enough). Assuming my extension falls into a custom content type. Which means users will ask me to create renderers for their templates. That's certainly not something I want to do.
Or are those "renderers" easy enough to d

[2016-04-17 20:08] HermanPeeren commented on #82
An extension (in the new architecture) is not a content type. It outputs a content tree of which a part (maybe even a tiny part) _CAN_ be a custom content type. The whole rest of the content types that are used are common. A content type can be a compound type (which is a standard content type!) consisting of other standard content types. In fact the content tree is an interface: both input and ou

[2016-04-17 20:41] Bakual commented on #82
I find the idea that I don't have to deal with frontend stuff fascinating. If that really works, that would be awesome of course. I think I need more specific examples (which are yet to be done if I understood correct) to see how that is supposed to work.

Maybe you can shed some light based on my own extension (http://www.sermonspeaker.net/listings/sermons.html). It's a sermon managing component.

[2016-04-17 21:06] HermanPeeren commented on #82
Thanks for providing a concrete example. I will have a look at that and come back with some comment (and maybe @nibra will do so too).

What I myself am investigating at the moment is the border between content types (the semantic elements providing a specific kind of content) and UI-elements (the presentation elements to render the content-elements). Sometimes that border is clear, but sometimes

[2016-04-17 21:44] nibra commented on #82
@Bakual : In your example, the detail view has an AudioElement, an AuthorElement, a DateElement, a DurationElement, and two LinkElements. It is very likely, that those will be standard elements, that are provided ba _every_ renderer. You'll need custom elements only in very rare situations.

That way, a JSON renderer or a XML renderer can serialise the same structure in a way that is meaningful in

[2016-04-18 06:12] laoneo commented on #82
This renderer architecture sounds awesome. The only concern I have is how to deal with free text elements like the description field where the admin can put in any content (which can be BS 3 HTML content). How to handle that?

Another thing is how to deal with javascript? Must the extension developer create different content trees  per renderer? For example showing a table of data which is fetched

[2016-04-18 10:48] nibra commented on #82
@laoneo: For the description field, there is no problem, as the admin knows, which renderer and JS framework are active on his installation. I still have some hope, that the UX team will find a solution to allow renderer-agnostic content creation in those cases, so the admin can address other content elements as part of the description element.

Regarding your second question: A component creates

[2016-04-18 11:35] laoneo commented on #82
@nibra but you can use more than one renderer on your Joomla site. One for HTML output, another for API access and the third one for Cli.

[2016-04-18 12:03] nibra commented on #82
Yes, and all of them handle the elements in a way that's appropriate for their context. AJAX fx. makes sense for HTML only, so the other renderers have to deal with it in a different way. Thus adding JS to the content tree does not make sense.

[2016-04-26 08:58] laoneo commented on #66
With the clean base approach, this becomes obsolete.

[2016-04-26 08:58] #66 closed, assigned to laoneo

[2016-04-26 09:00] laoneo commented on #47
Done https://github.com/joomla-projects/joomla-pythagoras/blob/clean-base/index.php#L21

[2016-04-26 09:00] #47 closed, assigned to nobody

[2016-04-26 09:15] dgrammatiko commented on #65
I guess JHtml won't be relevant in J4 (only available in the legacy adapter i guess), so closing this

[2016-04-26 09:15] #65 closed, assigned to nobody

[2016-05-05 07:44] laoneo opened #88 "SQLite memory database fails HHVM builds"
The builds on travis do fail because HHVM can't work nicely with SQlite in memory mode. Here is the link to such a build https://travis-ci.org/joomla-projects/joomla-pythagoras/jobs/127507639. Problem comes from PR https://github.com/joomla-projects/joomla-pythagoras/pull/85#issuecomment-216877504.

[2016-05-10 13:34] laoneo commented on #88
A composer update and using a commit from the master branch for the doctrine/dbal package solves the issue https://github.com/joomla-projects/joomla-pythagoras/commit/0da1ea69e2ce0f90639db8d139d2c2f4bd0d0968.

[2016-05-10 13:34] #88 closed, assigned to nobody

[2016-06-02 14:30] nibra opened #94 "Define Language String Deprecation"
Over time, the language files grow and grow. Some (core) extensions redefine language strings that already exist globally.

We need a mechanism to deprecate language strings (and suggest alternatives), as we have for classes and methods, so language strings can be removed safely.

This is related to issue #67 and PR #80.

[2016-06-02 14:37] Bakual commented on #94
For translation tools like Crowdin, it's best to add a comment with the deprecation notice behind the string on the same line. This way it will show up in those tools as "context" information.

[2016-06-02 14:44] #7 closed, assigned to nobody

[2016-06-02 14:45] #41 closed, assigned to nobody

[2016-06-02 14:59] nibra commented on #94
So
`COM_USERS_OR="or" ; @deprecated 4.0 Use J_OR instead`
would work?

[2016-06-02 15:01] brianteeman commented on #94
for crowdin yes - probably not on other platforms or for manual translators

On 2 June 2016 at 15:59, Niels Braczek notifications@github.com wrote:

##

Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-06-02 15:41] nibra commented on #94
Comments should work for manual translation as well. What other platforms do we need to consider?

[2016-06-02 16:01] brianteeman commented on #94
You would think so but they will just end up translating the comment. Seen
too many existing translations sadly.

The real issue is should we even be deprecating them at all. I still
believe if it's not being used it should be removed and haven't heard a
good argument to keep them.

[2016-06-02 16:20] nibra commented on #94
How do you know if it is used? Think of a 3PD module for com_users using the component's language file.

[2016-06-02 16:25] brianteeman commented on #94
They should be using their own language strings. All deprecating before
removing will do is give you the opportunity to say "I told you so" it
won't notify them its deprecated or stop them following bad practice

(Obviously a jglobal string is different)

[2016-06-02 16:27] nibra commented on #94
Notification would be possible, if `JHtml::_()` would check the state (in debug mode).

[2016-06-02 16:31] brianteeman commented on #94
That assumes the developer who was too lazy to create their own strings
spent the time to check. History suggests they are not.

[2016-06-02 17:14] nibra commented on #94
George Wilson mentioned on Twitter, that the [Unused Language String Locator](https://t.co/NgSxziNAgP) doesn't work for all the strings that are put together through string concat.

A special test suite could make sure, that no _used_ string gets removed.

[2016-06-02 17:40] brianteeman commented on #94
Yeah any script will fail on those and produce false positives

[2016-06-02 17:41] laoneo commented on #54
ORM is implemented trough the ORM library https://github.com/joomla-projects/joomla-pythagoras/tree/clean-base/libraries/incubator/ORM

[2016-06-02 17:43] laoneo commented on #52
Ported from the service project https://github.com/chrisdavenport/service.

[2016-06-02 17:44] Bakual commented on #94
Afaik it also works this way for Transifex, but haven't tested it. For manual translators it would work as well for the more savvy translators :smile: . `com_localise` would have to be adjusted as it uses a different approach (I think the comment is on line before).

[2016-06-02 17:44] laoneo commented on #44
Project is moved to it's own repo https://github.com/joomla-projects/custom-fields

[2016-06-02 17:44] #44 closed, assigned to nobody

[2016-06-02 18:01] laoneo commented on #46
Project  can be found here https://github.com/chrisdavenport/service

[2016-06-02 18:01] #46 closed, assigned to nobody

[2016-06-02 18:03] mbabker commented on #94
JLanguage doesn't have a parser to read INI comments (we're basically doing `parse_ini_string(file_get_contents($filename))` when parsing the files).  So you'd need a parser to extract comments and be able to match those comments to a line, and you'd probably need to account for both commenting styles:

[code]

JLanguage already has a debug mode attached to it so if such a parser is created you sh

[2016-06-02 21:47] nibra commented on #94
Ole Bang Ottosen pointed out, that this has been discussed in depth at joomla/joomla-cms#9932.

[2016-06-02 22:16] brianteeman commented on #94
Yes it has been discussed several times but never with any real conclusion

[2016-06-02 22:18] nibra commented on #94
Well, I guess it is up to the PLT to make a decision.

[2016-06-03 06:39] 4digitalworld commented on #49
want support "Google Search for Site" via API.

since I put Google search on the site, I no longer use a standard search on Joomla and disable this plugin.

[2016-06-03 12:15] laoneo commented on #45
Closing it as we have a PR #69 for it.

[2016-06-03 12:15] #45 closed, assigned to nobody

[2016-06-03 13:44] laoneo commented on #60
Is actually in heavy development https://github.com/joomla-projects/joomla-pythagoras/tree/clean-base/libraries/incubator/Renderer. Closing this one as there will be more fine grained renderer related PR's made in the future.

[2016-06-03 13:47] laoneo commented on #53
I guess this will never going to happen in Joomla 3. In Joomla X we follow a different approach, see issue #54.

[2016-06-03 13:47] #53 closed, assigned to nibra

[2016-06-03 13:55] laoneo commented on #8
@wilsonge is this issue planed for Joomla 4? Or can it even be done on a Joomla 3 minor release?

If yes, @mbabker can you please open (or transfer) this issue on (to) the CMS repo. It should be assigned then to the relevant milestone.

I'm closing this one as it is not relevant for Joomla X.

[2016-06-03 14:00] laoneo commented on #3
@wilsonge is this issue planed for Joomla 4? Or can it even be done on a Joomla 3 minor release?

If yes, @nibra  can you please open (or transfer) this issue on (to) the CMS repo. It should be assigned then to the relevant milestone.

I'm closing this one as it is not relevant for Joomla X.

[2016-06-03 14:02] laoneo commented on #42
An improved media manager is planed for either Joomla 3.7 or 4 according to the PLT report https://volunteers.joomla.org/reports/245-plt-meeting-after-j-and-beyond-2016.

[2016-06-03 14:02] #42 closed, assigned to nobody

[2016-06-03 14:05] laoneo commented on #43
This feature is planed on Joomla 3 in a GSoC project https://summerofcode.withgoogle.com/projects/#5268339920207872. Repository can be found here https://github.com/joomla-projects/gsoc16_shareable-draft-content.

[2016-06-03 14:05] #43 closed, assigned to nobody

[2016-06-03 14:06] laoneo commented on #50
@wilsonge is this issue planed for Joomla 4? Or can it even be done on a Joomla 3 minor release?

If yes, @nibra can you please open (or transfer) this issue on (to) the CMS repo. It should be assigned then to the relevant milestone.

I'm closing this one as it is not relevant for Joomla X.

[2016-06-03 14:09] laoneo commented on #61
@wilsonge is this issue planed for Joomla 4? Or can it even be done on a Joomla 3 minor release?

If yes, @nibra can you please open the same issue on the CMS repo.

[2016-06-03 14:10] mbabker opened #95 "[META] Clearly Define This Repository's Purpose"
Clearly define this repository's purpose.  Is this the J4 repo?  JX?  Both?  Neither?

If this is the repository for J4, can the JX stuff be moved elsewhere?  Likewise if this is for only JX.

If this repo is for both, what measures are in place to ensure proper separations of concerns (as essentially J4 and JX are two different projects and as such should be maintained in two different repos)?

[2016-06-03 14:17] brianteeman commented on #95
agreed - i am very confused especially with the "clean" branch
you cant have one project with two completely different branches as issues and pull requests are unclear

[2016-06-03 16:03] nibra commented on #95
The Architecture Team is currently cleaning up this repo. It will be used for **Joomla X development**. All issues, branches, and PRs addressing the incremental development of Joomla 3/4 towards Joomla X will be moved to the CMS repo (either 'joomla/loomla-cms`or`joomla-projects/joomla-cms`, depending on PLT's decision) in the near future, so nothing of the valuable work done here gets lost.

Afte

[2016-06-03 16:03] #95 closed, assigned to nobody

[2016-06-03 16:10] nibra commented on #52
It#s only partially done, since some issues with the detection of Command(Handler)s are not solved yet.

[2016-06-03 16:22] nibra commented on #94
Subject sent to PLT for decison. Closing.

[2016-06-03 16:22] #94 closed, assigned to nobody

[2016-06-03 18:53] chrisdavenport commented on #52
What issues have you come across?

[2016-06-03 21:37] nibra commented on #52
I'm looking for a convenient way to autodetect commands (and their required parameters) from controllers/models, if their public methods are treated as command handlers. Haven't spent much time on this yet.

[2016-06-03 22:58] wilsonge commented on #61
We definitely can't do it in 3.x and stay b/c with JLog and it doesn't really make sense to have two loggers there until we know 100% what we're plumping for in J4. I need to have a think about this first before I give a definite answer

[2016-06-03 23:00] wilsonge commented on #8
J4

[2016-06-03 23:03] wilsonge commented on #50
We have a whole section on the decoupling on the logistical side of things (See the decoupling section: https://volunteers.joomla.org/reports/245-plt-meeting-after-j-and-beyond-2016 ) - the version this happens in is kinda irrelevant - it's done when the release work behind it is done, there's a suitable way to maintain the core components and we have a way of making sure we have core distributed

[2016-06-04 05:44] laoneo commented on #52
But then I would open a new issue which addresses exactly that problem. Having a generic issue which addresses all Command Bus problems is confusing and difficult to trace.

[2016-06-04 08:59] nibra commented on #52
That's one of the next steps.

[2016-06-04 09:37] nibra opened #96 "Cleanup Issues"
Close or move them to the CMS repo

[2016-06-04 09:37] nibra opened #97 "Cleanup PRs"
Close or move them to the CMS repo

[2016-06-04 09:38] nibra opened #98 "User Extension"
User extension to get the logged in user (how does it work on CLI?)

[2016-06-04 09:38] nibra opened #99 "Session Factory"
Session facade for an external library

[2016-06-04 09:39] nibra opened #100 "Renderer: Template System"
See [Joomla/Renderer](https://github.com/joomla-framework/renderer)

[2016-06-04 09:40] nibra opened #101 "ORM: Schema Builder"
Define installable file for an extension and build a basic installer.

[2016-06-04 09:41] nibra opened #102 "Renderer: Detail View"
The frontpage

[2016-06-04 09:41] nibra opened #103 "Renderer: List View"
A basic list view for a list of entities

[2016-06-04 09:41] nibra opened #104 "Renderer: Form View"
A view which allows to create and edit entities

[2016-06-04 09:42] nibra opened #105 "Backend Template"
Something like
- [AdminLTE](https://almsaeedstudio.com/preview)
- [JA Admin](https://www.joomlart.com/blog/joomla-templates/preview-ja-admin-admin-template-for-joomla-3)
- [Gentelella](https://colorlib.com/polygon/gentelella/index.html)

[2016-06-04 09:42] nibra opened #106 "Localisation Library"
_Library to localise strings_
## Requirements
- Current language files **MUST** be re-usable.

  _A lot of efford has been put into translations into a vast number of languages. It does not make sense to discard that work._
- Admin **MUST** be able to define a fallback, ideally a fallback cascade.

  _Example: If the current language is Swedish, use Danish for missing translations. If there's no D

[2016-06-04 09:44] nibra opened #107 "Testing"
The idea is to automatically setup the test environements using docker-compose, controlled by a Robo task (see RoboFile.php). The setup should not only serve core development, but also persue extension developers to use the testing environment to improve the quality of their products.
## Unit Testing

For unit tests, there's not necessarily needed a separate environment, but it can help anyway (se

[2016-06-04 09:44] nibra opened #108 "Testing: Page Objects"
Create some page objects for codeception tests

[2016-06-04 11:08] laoneo commented on #98
I would add that to CDHM.

[2016-06-04 11:24] nibra commented on #98
User management is not required by CDH. If we have time, we can still move it.

[2016-06-07 12:56] nibra commented on #73
Moved to `joomla/joomla-cms`

[2016-06-07 12:56] #73 closed, assigned to nibra

[2016-06-07 13:17] nibra commented on #67
This is covered in the `joomla/joomla-cms` repo with an in-depth discussion.

[2016-06-07 13:17] #67 closed, assigned to nobody

[2016-06-07 13:28] nibra commented on #62
Moved to [joomla/joomla-cms#10746](https://github.com/joomla/joomla-cms/issues/10746)

[2016-06-07 13:28] #62 closed, assigned to nobody

[2016-06-07 13:31] nibra commented on #61
Closing without moving to `joomla/joomla-cms`, since there's no meat on this issue.

[2016-06-07 13:31] #61 closed, assigned to nobody

[2016-06-07 13:32] nibra commented on #55
Closing without moving to `joomla/joomla-cms`, since there's no meat on this issue.

[2016-06-07 13:32] #55 closed, assigned to nobody

[2016-06-07 13:33] nibra commented on #50
Closing without moving to `joomla/joomla-cms`, since decoupling is in progress already.

[2016-06-07 13:33] #50 closed, assigned to nobody

[2016-06-07 13:44] #8 closed, assigned to nobody

[2016-06-07 13:44] #3 closed, assigned to nobody

[2016-06-07 13:45] #96 closed, assigned to nobody

[2016-06-07 18:04] #97 closed, assigned to nobody

[2016-06-08 17:46] nibra commented on #99
Provided with PR #109

[2016-06-08 17:47] #99 closed, assigned to nobody

[2016-06-08 18:08] #76 closed, assigned to nobody

[2016-06-08 18:47] laoneo commented on #82
Instead of closing this one, should we not rename it to "Bootstrap 4 renderer" that we don't forget it?

[2016-06-08 18:58] dgrammatiko commented on #105
Another similar template: https://colorlib.com/polygon/gentelella/index.html (BS3). repo: https://github.com/puikinsh/gentelella
One point here: if the render allows it it will be extremely beneficial if we can use Angular on the back end (providing that there will be a great abstraction so that 3rd PD won't have to go deep with javascript)

[2016-06-08 19:10] nibra commented on #82
Ok for me.

[2016-06-16 14:06] nibra opened #113 "PageBuilder"
### Existing Solutions

Currently, a lot of tools (partially) implementing this idea are emerging.
- [SP Page Builder](https://www.joomshaper.com/page-builder)
- [JSN PageBuilder](https://www.joomlashine.com/joomla-extensions/jsn-pagebuilder-joomla-page-builder-extension.html)
- [Quix Pagebuilder](https://www.themexpert.com/quix-pagebuilder)
- [Gridbox](http://www.balbooa.com/gridbox)
- [Azura - R

[2016-09-02 15:17] #59 closed, assigned to nibra

[2016-09-02 15:29] nibra commented on #59
Covered by PR #117

[2016-09-05 23:52] ufuk-avcu commented on #113
Yootheme Pro - A new player in the Pagebuilder / Websitebuilder Market. Not released yet. http://yootheme.com/blog/2016/09/01/yootheme-pro

[2016-09-07 18:55] nibra commented on #103
Covered by #117

[2016-09-07 18:55] nibra commented on #102
Covered by #117

[2016-09-07 18:55] #103 closed, assigned to nobody

[2016-09-07 18:55] #102 closed, assigned to nobody

[2016-09-07 18:59] nibra opened #118 "CRUD per CLI"
Simple example for CLI access (don't over-do!)

[2016-09-07 19:00] nibra opened #119 "Adapt 'existing' extensions"
_Make them compatible with structural changes_

Existing extensions to port are
- [x] Articles
- [ ] Categories (_in progress_)
- [x] Media
- [x] PageBuilder
- [ ] Users

[2016-09-07 19:01] nibra opened #120 "Build meaningful sample content"

[2016-09-07 19:03] nibra opened #121 "Workflow component"

[2016-09-11 17:14] nibra commented on #100
Closed by PR#117

[2016-09-11 17:14] #100 closed, assigned to nibra

[2016-09-11 17:16] nibra commented on #113
Thank you, @ufuk-avcu, added it to the list.

[2016-09-12 18:53] #118 closed, assigned to nibra

[2016-09-20 13:26] Biromain opened #123 "ORM: Migrations"
Migration for ORM like [Phinx](http://docs.phinx.org/en/latest) :
- [ ] Generate migration from cli
- [ ] Management from cli and code [Phinx Commands](http://docs.phinx.org/en/latest/commands.html)

File format like `YYYYMMDDHHMMSS_my_new_migration.php`
_If migration don't work as planned, we can fix it and just change date to current for re-execute it_
- [ ] Method `up()`
- [ ] Method `down()`

[2016-09-20 17:40] nibra commented on #123
Yes, good idea! Actually, Phinx is already on my (internal) list as a candidate for migration handling. It should work in conjunction (or replace?) the SchemaManager (issue #101)

[2016-09-21 07:54] Biromain opened #124 "Markdown to Bus Factor X"
Move to another issue #125 to stay clear.

[2016-09-21 10:58] nibra commented on #124
I support this idea. It is not needed for the CDHM, but frees us from having to filter out the HTML for other channels than web.

[2016-09-21 11:19] biromain commented on #124
Yeah and we can make fix on generated like A11Y Fix.
I just see one problem atm, it's about migration from older Joomla.
We can:
- [ ] Convert existent html to markdown but content loose html properties like css classes etc.
- [ ] Make an db column like `source_format` with default value `markdown` and migrate old content with `html` format.

I don't know if atm on J!X we need to care about old Jo

[2016-09-21 11:31] nibra commented on #124
No, in the "core" J!X we don't have such restrictions (that's why we're doing the clean-base approach). Nevertheless, that migration has to work smoothly in the end - that's the duty of the J3Compatibility package. It should then deliver the original HTML for web and (maybe) strip for other channels.

[2016-09-21 11:48] biromain commented on #107
We need extensions can also be tested.
With that, extensions on JED can have a status about unit test, security checked, etc.

[2016-09-21 11:54] Fuzariane commented on #124
Migration from Joomla 1.5 to Joomla 2.5 was pretty hard for a lot of websites. By the way, a lot of them migrate to other CMS. Migration should not be such complicated.

I don't tell tha your ideas are not valuable but we need to focus on keep our community. ( i think )

[2016-09-21 11:58] brianteeman commented on #124
This J!X will never happen - dont waste your time on it.

On 21 September 2016 at 14:54, ArianeWebdesign <notifications@github.com>
wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-09-21 12:32] nibra commented on #124
@Fuzariane No reason to be afraid. We promised a one-click update from Joomla X-1 to Joomla X for the core, and we'll keep this promise. We'll also work hard for making the update a no-brainer at least for third party extensions, that follow the Joomla conventions.

[2016-09-21 12:37] Hils commented on #124
"This J!X will never happen - dont waste your time on it." is there a link to where this has been discussed please? (original email in my mailbox but seems to have disappeared from here. Thanks.

[2016-09-21 12:39] nibra commented on #124
@Hils I deleted that post, because a) it's not true, and b) it was not constructive.

[2016-09-21 12:41] Hils commented on #124
Thank you Niels !

[2016-09-21 12:46] nibra commented on #107
Updated the issue description accordingly.

[2016-09-21 12:48] brianteeman commented on #124
Thats why it will never happen because it is a solo effort with no
contribution. You were supposed to have delivered a working proof within 2
months of JAB and yet nothing has happened yet
https://volunteers.joomla.org/leadership/production-leadership-team/reports/245-plt-meeting-after-j-and-beyond-2016

On 21 September 2016 at 15:41, Hils notifications@github.com wrote:

##

Brian Teeman
Co-found

[2016-09-21 12:48] biromain commented on #106
I think i18n most not depend on file format. Like Symfony, we just need parser (xml, ini, yml, po, whatever), each ext devs can choose what he like and use key path format like layout in J3.

[code]

[code]

[code]

[code]

[2016-09-21 13:01] nibra commented on #124
This attitude does more harm than everything else. You may of course have your oppinion, but saying it publicly as if it was a fact, is very bad behaviour. Stop that, please.

That's just not true. A lot of people are contributing.

You can set a time frame, if you pay for it. Period. It takes the time it takes.

[2016-09-21 13:21] brianteeman commented on #124
I didn't set the timeline  - the plt set the timeline.

On 21 Sep 2016 4:01 p.m., "Niels Braczek" notifications@github.com wrote:

[2016-09-21 13:24] Hils commented on #124
Always better to encourage a fellow Joomla! volunteer as opposed to castigating them. No doubt the PLT would speak to Niels privately if there is a problem.

[2016-09-21 13:26] marcodings commented on #124
Brian, you are right we did not deliver the proof in the suggested timeframe. Not that its an excuse, there were unforeseen personal circumstances involved for Niels and as for timelines in general as PLT we still have a lot to learn overall
On the positive side we have arrived at the proposed milestone, we are crossing the T's and dotting the i's and hope to have a factual discussion on it soon.

[2016-09-21 13:34] brianteeman commented on #124
Glad you acknowledged the bus factor

[2016-09-21 13:38] nibra commented on #124
The bus factor is a known issue, and we don't try to hide it. I even mentioned it myself in my presentation on JoomlaDay Germany a couple of days ago: https://www.youtube.com/watch?v=YV9MZYDIr6Y .

[2016-09-21 14:18] mbabker commented on #124
This will never become the heart of a Joomla release because it abandons everything everyone has put into the project, either as core or the various extensions and their frameworks.  It's a major rewrite with zero compatibility for the sake of exercising egos.  I fully agree with having a clean base to work from, but there's no way this can ever succeed if it builds from the notion of "screw the p

[2016-09-21 14:34] nibra commented on #124
You can't know that, and it is not up to you to make that decision.

Maybe it looks like that atm. But it does not.

No. It's a major rewrite with compatibility in mind for the sake of getting rid of ancient approaches and technical dept.

We're not re-inventing the wheel anywhere. We use existing packages wherever possible, but keep them exchangeable - because you never know. That's how software

[2016-09-21 14:46] brianteeman commented on #124
The bus factor has so far meant that you have missed two deadlines to show
something - Jab and now jab + 2 months. We discussed the bus factor
together at JAB and I still dont see anyone getting on board your bus. If
you cannot engage the developers the you will never be able to produce
anything to engage the userbase.

If  a CMS has no developers or consumers then it is like a tree falling in
an

[2016-09-21 14:51] mbabker commented on #124
If it's a major rewrite with compatibility in mind why is the approach to
write all the new things first THEN figure out how to proxy every existing
API in?

Yes, some things are ancient and have loads of technical debt but there are
ways to transition without being majorly disruptive.  Look at how the DI
container is integrated in the new 4.0 branch and how some of the core
services start moving

[2016-09-21 15:32] Fuzariane commented on #124
It sounds like i kicked in the nest (coup de pied dans la fourmillière) and that was not my purpose. Sorry for that.
I really "love" Joomla and I'll never give up even if i can give a lot of my time into your project.

[2016-09-21 15:33] brianteeman commented on #124
It is because you  (and I) love joomla that I made the comment as I did not
want you to waste your time with a fantasy

On 21 September 2016 at 18:32, ArianeWebdesign notifications@github.com
wrote:

##

Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-09-21 15:39] dneukirchen commented on #124
i cant find a single "markdown" in the last 20 comments...

JoomlaX will never get people "on bus", when some of the leading contributors start such an offtopic flamewar under a simple suggestion.

You might be right, but i dont think that THIS is the right place for it.

[2016-09-21 16:36] mbabker commented on #124
We've all got different visions, nothing wrong with that.  The problem is when some start declaring something as official when it's nothing more right now than an experiment.  Even I've learned what battles to give up on.

[2016-09-21 16:43] dgrammatiko commented on #124
This is interesting, let me grab some pop corn...

[2016-09-21 17:12] brianteeman commented on #124
I only have pretzels

[2016-09-21 18:36] Fedik commented on #106
maybe use Gettext ?
just `_("Article")` instead of COM_CONTENT_ARTICLE

[2016-09-22 07:12] Biromain opened #125 "Markdown as Content Language"
Why not use markdown as content language.
- Store HTML in database is huge.
- We can't easily/safely convert html to raw, pdf, epub or other presentation language
- Markdown can be extended for content enrichment

[2016-09-22 11:06] #124 closed, assigned to nobody

[2016-09-27 11:18] biromain commented on #106
Article is just an example. We can have more complicated situations.

AFAIK
- Gettext use compiled file for translation and cache this on HTTP Server (Restart to clear).
- Don't think so easy to override language at runtime.
- We are directly on an extension without any ways to modify behaviors.
- Need ASCII key/reference.

Symfony use [symfony/translation](https://github.com/symfony/translation).

[2016-09-27 12:06] Biromain opened #128 "[Reflexion] ORM: Behaviors & Filters"
Could be nice for ORM has behaviors and filters feature.
Why behaviors?
- DRY
- Lambda extension developer (like me) don't needing to care about
  - **Sluggable:** He just need a getAlias()/getSlug() to make his routes (Behavior add column in table/provide method to Entity).
  - **Tree:** He just need a getAncestor()/getDescendant()/...
  - ...
- We can apply fixes/bc enhancements for all extensio

[2016-09-27 12:08] nibra commented on #106
Added some requirements to the intro.

[2016-09-28 07:20] biromain commented on #121
Workflow is same as Symfony, a state machine?

[2016-10-07 12:01] #121 closed, assigned to nobody

[2016-10-07 12:02] nibra commented on #121
Workflow implementation is complete with merge of PR #130

[2016-10-07 12:29] nibra commented on #101
Included in PR #117, extended in PR #130

[2016-10-07 12:29] #101 closed, assigned to nobody

[2016-10-07 14:03] biromain commented on #125
After some searchs, [cebe/markdown](https://packagist.org/packages/cebe/markdown) go over all.
- CLI Compilation
- Extendable
- Fast
- Often updated

[2016-10-07 16:20] nibra commented on #125
Looks good...

[2016-11-11 22:12] ufuk-avcu opened #135 "HTML body parameters"
Need to ability to add a Css Class to the body Element.

Example: <body class="someClass"></body>

[2016-11-11 22:15] ufuk-avcu opened #136 "Load different Layouts and Child routes"
It is not possible to load a different layout on child routes.

example pages.csv

4, Home, "", 0, 3
5, SubRoute, "sub", 0, 4

[2016-11-12 01:56] nibra commented on #136
Issue is identified and a fix already in a local repo.

[2016-11-12 22:19] #136 closed, assigned to nobody

[2016-11-12 22:24] nibra commented on #128
Development of Filters has started.

[2016-11-14 10:20] biromain commented on #123
I'm back after some tests.
I dont think we can use both in conjuction.
Or perhaps extension developer can define a mode in config.

SchemaManager detect and apply modifications by himself on db
Migrations execute developer instructions on db with ability to make treatment on data and rollback (rollback of structure, not data).

If I am a large project based on Joomla, I would not trust an upgrade

[2016-12-08 14:24] ciar4n commented on #113
One of the more impressive examples not on the list is 'JA Builder' from Joomlart (still in beta)... https://www.joomlart.com/blog/ja-site-builder-new-demo-with-more-features-and-improvements

Online Demo: http://demo.builder.joomlart.com/

[2016-12-08 15:44] nibra commented on #113
Thank you, @ciar4n, added it to the list.

[2017-04-21 16:03] nibra commented on #113
Moved to [Projects](https://github.com/joomla-projects/joomla-pythagoras/projects) page

[2017-04-21 16:03] #113 closed, assigned to nobody

[2017-12-05 03:17] nibra opened #144 "Web API"
Create an RfC based on
https://joomla-projects.github.io/gsoc17_webservices/